{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div id="content">
    <div class="col-md-6 col-md-offset-3">
    <br><br>
    <span class="super-title"><b>RapGenii</b></span>
    <h3>RapGenii seeks to bring the power of rap and linguistic expression to the masses. No more listening to whatever $%*# the labels feed you. No more will.i.am. No more Illuminati. The power is now in the hands of the people. Create new raps and contribute to existing endeavors! Join the crowd in voting for the best lyrics. Let democracy decide. #$@% yeah America!!!</h3>
    <hr>
    <h4 class="gray">RapGenii is brought to you by three students from the University of Pennsylvania. The name is a tribute to the homies at RapGenius, <a href="http://genius.com/">check them out</a>.</h4>
    
  </div>
</div>


{% endblock %}