* {
  font-family: 'Roboto', sans-serif;
}


body {
  min-height: 100%;
  overflow: auto;
}

.navbar{
  margin: 0px;
}

.container-fluid {
  display: block;
  height: 100%;
  min-height: 110%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.container-custom {
  padding-left: 200px;
  min-height: 100%;
}

.row {
  height: 100%;
}

.custom-input {
  width: 70%;
}

.gold {
  color: #fcdb23 !important;
}

.see-all {
  text-align: right;
  font-size: 1.2em;
  padding-top: 20px;
  padding-right: 20px;
}

.super-title {
  font-size: 5em;
}


/* home page */

.rap-container {
  width: 350px;
  height: 150px;
  background-color: #f2f2f2;
  padding: 35px;
  margin-bottom: 30px;
}

.rap-container a{
  font-size: 2em;
}

.rap-container a:hover{
  text-decoration: none;
}

.rap-progress {
  padding-top: 15px;
  text-align: right;
  font-size: 1.4em;
  color: #5e5e5e
}

.custom-modal-container {
  padding: 30px;
}


/* rap page */

.container {
  height:100%;
}

.container-custom {
  height: 100%;
}

.pending-container {
  padding-top: 40px;
  background-color: #f2f2f2;
  height: 100%;
  overflow: auto;
}

.accepted-container {
  padding-top: 40px;
}

.accepted-wrap {
  width: 75%;
  margin: 0 auto;
}
.pending-wrap {
  width: 75%;
  margin: 0 auto;
}

.voting-box {
  display: inline-block;
  width: 50px;
}

.lyric-box {
  display: inline-block;
}

.submitted-box span {
  font-weight: bold;
}

.submitted-box{
  text-align: right;
}

.final_lyrics {
  margin-left: 20px;
}

.finished-lyrics {
  font-size: 1.5em;
}

.next-line-box {
  width: 90%;
  height: 75px;
  background-color: #fcdb23;
  color: #ffee8e;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5em;
}

.btn-custom {
  color: white;
  background-color: #fcdb23;
  border: none;
}
.voted {
  color: #dddddd;
}
.up:not(.voted), .down:not(.voted) {
  cursor:pointer;
  color: #fcdb23;
}

a.lyrics {
  cursor:pointer;
  text-decoration: none;
}

.vote_count span {
  font-weight: bold;
  color: #B2B2B2;
}


/* profile page */

.list-unstyled li {
  padding-bottom: 10px;
}

/* other */



.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}

.line-container {
  padding-bottom: 3px;
}

.pending-line-container {
  padding-bottom: 10px;
}


.gray {
  color: gray;
}

.red {
  color: red;
}

hr {
  border-top: 1px solid #B2B2B2;
}
h1 small{
  color: #CCCCCC;
}
